/**
 * Name: Sven van Dam
 * Student number: 10529772
 * Programmeerproject
 * VAST Challenge 2017
 */


table {
    font: 12px sans-serif;
}

table tr {
    cursor: pointer;
}

circle {
    shape-rendering:"crispEdges";
}

li {
    font-size: 10px;
}

.nodes {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.links {
    stroke: #777;
    stroke-width: 2px;
}

.checks {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.main-block {
    padding: 10px;
}

.tooltip {
    font-size: 10px;
    text-anchor: middle;
}

.graphline {
    cursor: pointer;
}

.axis-label {
    font-size: 10px;
    text-anchor: end;
}
